<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='./styles/styles.css' />
	</head>
	<body>
		<div id="root">Loading...</div>
	<script type="text/javascript" src="./js/bundle.js"></script>
	</body>
</html>
